{%extends 'task_base.html'%}

{%load static%}

{%block title%}A.M.S.G ｜ 課題一覧{%endblock%}

{%block contents%}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">問題一覧</h1>
        <a class="nav-link" href="{% url 'task:question_create' %}">問題作成</a>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>問題名</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'task:question_info' obj.pk %}">
                                {{ obj.q_name }}
                            </a>
                        </td>
                    </tr>
                    
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</main>
{%endblock%}