<html lang="ja">
<head>
    <meta charset="UTF-8">
    

    <title>{% block title %}{% endblock %}</title>

    <!--Bootstrap core CSS-->
    <link href="{% static 'startbootstrap-sb-admin-gh-pages/css/styles.css' %}" rel="stylesheet">

<article>
    <div class="score">
        <p>採点</p>
    </div> 
    <div class="question">
        <p>問題</p>
    <div class="side">
        <p>サイドバー</p>
    </div> 
    <div class="content">
        <p>メインコンテンツ</p>
    </div>
    <div class="task"
        <p>課題</p>
    </div>
    
    </div>
</article>